


{% extends 'base.html' %}

{% block title %}  Inicio     {% endblock %}

{% block content %}   
    {%if user.is_authenticated %}
        <H1> Bienvenido {{ user.username }} </H1>
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% if planner %}
            <ul>
                <li> {{ planner.ashes }}</li>
                <li>{{planner.venue}}</li>
                <li>{{planner.wish}}</li>
                <h3><a href="planner/detail/{{planner.id}}"> Ver más </a> </h3>
            </ul>
        {% else %}
            <p>No tienes plan agregado, agrega uno ahora</p>
            <a href="planner/create/"> Agregar un nuevo plan </a>
        {% endif %}
    {% else %}
        <p>No estas registrado </p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}


{% endblock %}